.item {
  display: flex;
  gap: 10px;
  padding: 20px;
  align-items: center;
  border: 1px solid grey;
  min-width: 200px;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.green {
  composes: status;
  background-color: green;
}

.red {
  composes: status;
  background-color: red;
}

.status::before {
  content: '';
  display: block;

  border-radius: 50%;
}

.avatar {
  display: block;
  max-width: 100%;
}

.name {
  font-weight: bold;
  text-align: center;
}
